<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/main.css">
  {% feed_meta %}
  {% seo %}
  {% favicon %}
  {% webmentions_head %}

  <link href="https://github.com/l0b0" rel="me">
  <link href="https://gitlab.com/engmark" rel="me">
  <link href="https://gitlab.com/victor-engmark" rel="me">
  <link href="https://www.flickr.com/photos/l0b0" rel="me">
  <link href="mailto:feedback@paperless.blog" rel="me">
</head>
