---
title: The dangers of uninformed secretaries
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  In the letter saying I had to get a "justificatifs concernant le niveau
  sonore", the text "Brigade de police de LYON 04.37.65.13.10" was scribbled on
  the side. I showed the paper to a French person who has been very helpful in
  formal matters, and was given the advice to try calling the Annecy police,
  since they are closer. A quick call confirmed this, and I got an appointment
  for Saturday 16:00 (sic!).
</p>

<p>
  Driving to Annecy took me slightly less than one hour, but because of the
  horrendously difficult one-way system of the town center, I barely got to the
  police station in time. Going in, I presented my case, and got a kind of
  strange look back. The officer called someone (presumably some garage), and
  they told him they hadn't heard anything about the appointment. I continued
  insisting that I had talked to somebody at the Annecy police station, and
  repeated the date and time. The the officer asked me when exactly I had made
  the call, and told me to wait a few minutes.
</p>
<p>
  When the officer got back to me, I was told that the secretary had been
  misinformed: They had stopped doing this kind of tests two years ago! I would
  have to call the Lyon police station on Monday. So I basically drove for about
  three hours for nothing!
</p>
<p>
  A small afterword: When calling the Lyon police today, the officer didn't
  understand me. When I started to explain the third time, he just hung up...
</p>
