---
title: The Internet generation
categories:
  - future
  - Internet
tags: []
author: Victor Engmark
---

<p>
  Sometime when I was younger, I heard that generations normally shift with 30
  years' interval. So either I was just on the "old" side of the last shift, or
  the generations are changing faster now than my parents' lore would have it.
</p>

<p>
  Yes, I'm talking about the Internet generation. I'm lucky enough to be part of
  the Nintendo generation, but Internet was outside my scope until high-school.
  Even then, it seemed a strange and geeky place, and the idea of it's
  widespread adoption by "mom'n'dad" didn't even manifest itself. Now, they are
  braving the fields of the unknown, if not with enthusiasm, then at least a
  slight interest. Myself, I'm online as long as my home or work computer is not
  having a well-earned break.
</p>
<p>
  But still, I'll never be part of the Internet generation. It is composed by
  those who do not yet know how to spell, but who know where to click in order
  to play "snakes and ladders" with their friends online. They will be the first
  to grow up in a world where the Internet is ubiquitous.
</p>
<p>
  How does this bode for the future of the Internet? Certainly, usability will
  be an issue when everyone is online. Government and private services will be
  expected to be available online, with security, accountability, speed, and
  reliability at higher levels than could ever be obtained by manual work.
  People will meet each other, exchange
  <a href="https://en.wikipedia.org/wiki/Digital_signature"
    >digital signatures</a
  >
  as easily and naturally as business cards, and use them to ease the
  possibility for secure message transfer free from
  <a href="https://en.wikipedia.org/wiki/Spamming">spam</a> and
  <a href="https://en.wikipedia.org/wiki/Phishing">phishing</a> attempts. Idle
  CPU cycles and free storage, which is already astronomical, will be put to use
  in
  <a href="https://en.wikipedia.org/wiki/Grid_computing"
    >distributed computing and storage systems</a
  >, solving research problems and backing up your family photos. Passwords will
  be replaced by
  <a href="https://en.wikipedia.org/wiki/Biometrics">biometrical</a> or other
  "natural" methods of authentication. Users with little or no expertise in
  security, or even computers in general, will be able to set up totally secret
  conversations with others.
</p>
<p>
  As always, the medallion has a backside. Higher levels of security will mean
  that people put more trust into the systems, and forget that ultimately there
  are people behind, creating and maintaining them. If perfect security is
  assumed, the results can be the disastrous when proven otherwise. Technology,
  like humans, does not perform perfectly. Also, secrecy is a useful tool for
  criminals. However, I believe this will lead to the use of low-tech solutions
  for catching them, and a long wanted, real privacy for ordinary citizens. With
  regard to biometric measurements, there have been concerns that criminals
  might cut off an organ or limb to get access to a system. However, this can be
  solved by extending the measurements to the whole body. There is also the
  issue of psychological damage from the material on the Internet. This issue is
  discussed in another blog entry (<em>Update: sorry, the link is dead</em>).
</p>
<p>
  One thing is for sure: The Internet is here to stay, and it will influence the
  lives of our children, for better or worse.
</p>
