---
title: The road to driving, part 1
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  [this post and the following parts are a reprint of the "Getting an Italian
  car registered in France" (aka "The glory of paperwork, part 78") post.
  Stoopid me didn't realize the way blogs work... Note that the date of the
  first entry is uncertain.]
</p>

<p>
  The following is a mix between a rant about the endless papermill of the
  French authorities, and a tutorial for those unfortunate souls looking to
  import a car to France.
</p>
<p>
  The whole thing started with me buying a used
  <a href="https://www.saab.com/">SAAB</a> on Italian plates. A nice car, not
  very expensive, and big enough in case anyone is giving away a few freezers
  :-)
</p>
<p>
  So, how did the papermill start? Well, I had a look at CERN's pages (<em
    >Update: sorry, the link is dead</em
  >), and saw that "the delays for obtaining green number plates are about 10-14
  weeks." This scared me off a bit, as I understood that I could get the normal
  French plates as soon as the paperwork was done. Oh, naïve youth!
</p>
<p>
  The goal was soon set: To have a normal "carte grise" (grey card) and
  white/yellow plates. For this I needed the following:<br />
  <em
    >- Proof that the car has passed a <strong>French </strong>"control
    technique" (technical control) less than two(?) months ago. The Italian
    document was no good, even if it was two weeks old.</em
  ><br />
  <em
    >- Proof of the sale of the car. The paper can be found at the Hotel de
    Ville (town hall; <em>update: sorry, the link is dead</em>) or at the
    <a href="https://www.ain.gouv.fr/sous-prefecture-de-gex-r352.html"
      >Gex sous-prefecture</a
    >
    (sub prefecture). The paper must be filled with <strong>lots</strong> of
    technical details about the car, and you'll probably need to have a look
    under the hood for some of the numbers. However, most information can
    probably be found in the original description which follows the car.</em
  ><br />
  <em></em><br />
  The sous-prefecture didn't accept the values from the Italian document, but
  anyway they gave me a temporary (3 weeks duration) carte grise, and instructed
  me to get a "certificate de conformite" (certificate of conformity [to French
  regulations]) from SAAB. I had to pay SAAB €120 for this (apparently this is a
  <em>government</em> tax). I also had to give SAAB basically all the
  information I had. After a few weeks, I received a "certificate de conformite
  <em>partielle</em>" (partial certificate of conformity). I took it to the
  sous-prefecture, and they told me I needed a complete "certificate de
  conformite". They took the certificate, and sent it to DRIRE (Directions
  Régionales de l'Industrie, de la Recherche et de l'Environnement;
  <em>update: sorry, the link is dead</em>).
</p>
<p>
  Now something fairly important should be mentioned about the temporary carte
  grise: It is <strong>renewable forever</strong> (three weeks at a time), and
  you only have to pay the €23 fee the <strong>two first times</strong> you get
  one! This was a surprise, as it means you will <strong>never</strong> need a
  permanent carte grise. However, going to Gex every three weeks and waiting in
  a line there might not be the best use of your time. Also, observe that the
  third and consecutive
</p>
<p>
  Roll forth another few weeks, and I received a letter from DRIRE saying that
  they needed more documents:<br />
  - A "notice descriptive du type" (car type description), which I have to get
  from SAAB France.<br />
  - A "justificatifs concernant le niveau sonore" (audio level description),
  which I have to get from the police in Lyon.
</p>
<p>
  I requested the first document from SAAB more than a week ago using their web
  form (<em>Update: sorry, the link is dead</em>), but they haven't answered
  yet, or the answer was caught by the CERN spam filter. The other document
  already has a dedicated blog entry (<em>Update: sorry, the link is dead</em>),
  and more information will come when anything happens.
</p>
