---
title: The road to driving, part 5
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  Called the Lyon police in the end of November and got an appointment.
  Unfortunately, the clutch gave in just a few days before the meeting, so I had
  to postpone it until after Christmas. January 6 I called again, and got a
  meeting the next day.
</p>

<p>
  Everything was nicely planned. Or so I thought, until I got to the point in
  the <a href="https://www.viamichelin.com/">ViaMichelin</a> driving plan where
  it suddenly vanished into nothing. I had not reached my destination, but the
  driving plan was finished. So I expected that I was close to the end of the
  ride, and found it sensible to ask for directions. I asked four different
  persons for the direction to the street I was going to, and all of them gave
  me nice, short descriptions. None of which were right. After realizing I could
  be doing that for the rest of the day without getting anywhere, I went to a
  Peugeot retailer to get some sensible information. They told me the place was
  at about the opposite end of the city...
</p>
<p>
  After finding a map and making my own way to the street where the meeting was
  to take place, I couldn't see any police buildings. The people in the street
  knew nothing of any garage or police station on that road, but I was told
  where the closest police station was. So I went there and asked them. Same
  result. They were very helpful though, and called the police station I had
  arranged the meeting with. They explained that yes, the meeting was to take
  place at the end of the street I had just been to. Also, there was supposed to
  be a vehicle there with "BCT" on the side in big letters. I thought this
  probably meant something like "bâtiment de control technique" (building for
  technical controls). So I went back and looked, at both ends of the road. No
  building, and no car except for the ones parked by the way and at the
  sideways.
</p>
<p>
  Back to the police again, who called again and arranged for the police to come
  and meet me by the police station. So I went out, and sure enough, there were
  the police. But they were angry with me for keeping them waiting! What the
  hell? Then they jumped into a car and told me to follow them. They went to the
  end of the street and turned right, driving about 150 meters up the byway.
  That's where they had been waiting all the time! No building, no "BCT", just a
  white van with red letters on the side, 150 meters south-west from the
  junction of Allée Pierre de Coubertin and Rue Jean Bouin.
</p>
<p>
  The sound test was finished in five minutes, and they wrote the document in
  about two. For this I took a day off of work, drove 7+ hours, and spent half a
  tank of gasoline. Way to go.
</p>
