---
title: Dart board
categories:
  - 3D graphics
tags: []
author: Victor Engmark
---

<div>
  <a href="https://www.flickr.com/photos/l0b0/3650995/" title="Dart board"
    ><img
      src="https://live.staticflickr.com/3/3650995_931dd9da85_b.jpg"
      width="1280"
      height="1024"
      alt="Dart board"
  /></a>
</div>

<p>
  Rendering of a
  <a href="/assets/models/dart%20board.3ds">3D Studio 5 model</a>
  (2.9 MB) of my Harrows dart board. The model is to scale, and accurate to
  within a fraction of a millimeter. By the way, the board is great!
</p>
