---
title: Wisdom teeth removal, part 0
categories:
  - health
tags: []
author: Victor Engmark
---

<p>
  Tomorrow I'm going to remove at least two, hopefully all four, of my wisdom
  teeth. My lower left jaw hurts just spelling that out...
</p>

<p>
  This is going to be the biggest operation of any kind I've done since, well,
  basically, ever. Naturally, I'm not looking forward to the operation, but all
  the same I'm hoping this will put an end to the recurrent tooth-ache, and
  prevent any displacement of teeth because of pushy molars.
</p>
<p>
  So, have you got any suggestions for how to handle the days after the
  operation? BTW, is anyone actually reading this $#!7?
</p>
<p>Stay tuned for "the pain blog" ;-)</p>
