---
title: The road to driving, part 8
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  Today I visited the DRIRE Centre de Controle de Vehicules (car control centre)
  in Viriat to have the (hopefully) last check of my car. I left home at about
  8:15, got there two minutes late to the appointment 10:30, and got back to
  work just in time to lunch 13:00.
</p>

<p>
  The check itself took between 10 and 15 minutes, and I didn't even have to
  start the engine! The guy just looked under the hood (mostly at the ID and
  model numbers), and that was it. Did I really use half a day to go somewhere
  to check what could have been checked practically anywhere? Seems like it.
</p>
<p>
  After the check the guy told me they would send the papers to the Gex
  sous-prefecture, so I should be able to get a carte grise in about five days.
  If you're reading this, would you mind crossing all available fingers and
  toes, pray to whichever god you pray to, and just generally focus your
  mind-power on wishing that this thing goes through soon? Much obliged :-)
</p>
