---
title: The road to driving, part 7
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  So, the papers from SAAB France have been forwarded to DRIRE, and I have
  received the answer: Essentially, even though nobody has found any faults on
  the car, I cannot have the carte grise just yet. The next step is driving 2.5
  hours (according to
  <a href="https://www.viamichelin.com/">ViaMichelin</a>) to show them the car.
  Stay tuned...
</p>
