---
title: Dart
categories:
  - 3D graphics
tags: []
author: Victor Engmark
---

<div>
  <a href="https://www.flickr.com/photos/l0b0/3647050/" title="Dart"
    ><img
      src="https://live.staticflickr.com/1/3647050_8c7994a31a_o.png"
      width="1280"
      height="1024"
      alt="Dart"
  /></a>
</div>

<p>
  Rendering of a
  <a href="/assets/models/dart.3ds">3D Studio 5 model</a>
  (1.2 MB) of one of my darts. The model is to scale, and accurate to within a
  fraction of a millimeter.
</p>
