---
title: del.icio.us power tag filtering
categories:
  - fil.tero.us
  - website
tags: []
author: Victor Engmark
---

<p>
  In an attempt to ease the filtering of del.icio.us bookmarks, I have created a
  more flexible interface than the current "+" operator in use at the main site.
  <em
    >Update: Unfortunately this site is long gone. Sorry for the
    inconvenience!</em
  >
</p>

<p>
  The idea popped up when trying to filter my almost 500 del.icio.us bookmarks
  to find a very specific link I knew had to be there somewhere. However, only
  adding tags did not provide enough accuracy; I still had to skim through
  several pages for the right link. At that point I started looking around to
  see if there was any way to further limit the search, but I found nothing
  except for the "ignore" functionality. However, this serves a limited purpose,
  and it has to be turned on and off manually.
</p>
<p>Documentation is available at the homepage.</p>
