---
title: "Re: The Future of Tagging"
categories:
  - future
  - semantic web
  - standards
  - web development
tags: []
author: Victor Engmark
---

<p>
  Vik Singh has an interesting blog post on
  <a href="https://partyondata.com/2006/03/27/the-future-of-tagging/"
    >the future of tagging</a
  >. IMO not so much because of the idea, since it looks quite familiar to the
  directory structure we're all familiar with, adding the possibility for
  objects to be inside several directories at the same time. But it got me
  thinking on what tagging lacks, which is an <em>easy to use</em> relation to
  more structured data about what the tag means.
</p>

<p>
  Anyone who's used the del.icio.us tagging interface provided by their
  bookmarklets (<em>Update: sorry, the link is dead</em>) or Firefox extension
  (<em>Update: sorry, the link is dead</em>) knows how easy they are to use.
  Just click any tag, and it's added or removed, based on whether it's already
  used. Click the "save" button when done. Dead easy.
</p>
<p>
  Creating
  <a href="https://www.w3.org/RDF/"
    ><abbr title="Resource Description Framework">RDF</abbr></a
  >, when compared with del.icio.us, is quantum theory. But it's already being
  used, and will probably be one of the biggest players in the semantic web,
  where things have meanings which can be interpreted by computers. Using RDF,
  you can distinguish between the tag "read" as an imperative (read it!) and an
  assertation (has been read). You can also make the computer understand that
  "examples" is the plural of "example", and that curling is a sport (though
  some may disagree :)).
</p>
<p>
  How could we combine the two? Here's an idea: When clicking any of the tags in
  the del.icio.us tagging interface, you'll be asked what you mean, by getting
  the possibility to select any number of from a list of one-sentence meanings.
  E.g., when selecting "work", you could get these choices:
</p>
<ul>
  <li>Item on my todo list</li>
  <li>Something you've worked on</li>
  <li>Something somebody else has worked on</li>
  <li>A job/position</li>
  <li>None of the above</li>
  <li>
    <span style="color: blue; text-decoration: underline"
      >Show all meanings</span
    >
  </li>
  <li>
    <span style="color: blue; text-decoration: underline"
      >Define new meaning...</span
    >
  </li>
</ul>
<p>
  The list would normally only contain the most popular definitions, to harness
  the power of the "best" meanings, as defined by the number of users. The "Show
  all meanings" link could be used to show the whole range of meanings people
  have defined.
</p>
<p>
  "Define new meaning..." could give you a nice interface to define the meaning
  of the word in the context of the link you're tagging at the moment. This is
  where the designers really have to get their minds cooking to get something
  usable by at least mid-range computer literates.
</p>
