---
title: Keyboard wishlist
categories:
  - keyboard
  - usability
tags: []
author: Victor Engmark
---

<p>
  As a follow-up to the great
  <a href="https://robmanuel.com/2006/11/28/10-reasons-keyboards-are-shit/"
    >keyboard rant</a
  >
  by Rob Manuel, here are a few <del>suggestions</del> <ins>rants</ins> to the
  keyboard manufacturers.
</p>

<h3>Visible logical layout</h3>
<p>
  The
  <a href="https://www.artlebedev.com/optimus/">Optimus keyboard</a>
  should be the hottest thing since ... keyboards! There's no turning back now.
  Logitech, are you reading this?
</p>
<h3>Flexible physical layout</h3>
<p>
  Don't like the size/shape of the Enter key? Then change it! Want a
  Solaris-style shortcut section to the left? Go ahead! Should be easy with
  projected or touch-screen keyboards, but could be a major pain when adding
  that springy feeling we're all so comfortable with.
</p>
<h3>Semi-wireless</h3>
<p>
  Plug it in, and it changes transmission to USB while charging the internal
  batteries. Works as a dream for the iPod. Oh, I can dream, can't I?
</p>
<h3>Get rid of as many key combinations as possible</h3>
<p>
  Most people without a university degree don't seem to catch up on
  <kbd>CTRL-C</kbd>, much less <kbd>F2</kbd>, until they've used the computer
  for years. Heck, even the IT consultant who used to have my current job
  right-clicked for any copy/paste operations! Give Joe / Jane Q Average a
  keyboard they can understand!
</p>
<p>Oh, and leave us geeks the pipes, tildes and backticks.</p>
<h3>Don't ever force F lock on boot</h3>
<p>
  <em>God dammit</em>, Logitech. I will <em>not</em> install your shitty,
  proprietary software just to turn off that abomination for good! If I turn
  something off once, I want it to stay that way!
</p>
<h3>No multimedia keys</h3>
<p>
  They make my keyboard clunkier and <em>less</em> user friendly. Especially
  putting the <kbd>Sleep</kbd> button next to <kbd>Esc</kbd>.
</p>
<h3>Volume dial, not buttons</h3>
<p>
  The only keyboard I've seen with this was my old, trusty Acer. Piece of shit
  PC, but great keyboard. Just a small whirr, and the sound is full / null. And
  it <em>just worked</em>.
</p>
