---
title: iPod background noise when charging
categories:
  - bugs
  - iPod
  - software
tags: []
author: Victor Engmark
---

<p>
  My 30GB iPod video (model MA146LL/A) has been a great ally for the last two
  weeks. Attached to a Philips SBC HP1000 (<em
    >Update: sorry, the link is dead</em
  >) headset, it cancels out the small office sounds which can disrupt the work
  flow.
</p>

<p>
  However, there seems to be some irregularities in the sound, originating from
  the iPod itself. I'll try to describe the bug as accurately as possible.
</p>
<p>Disclaimer: I have only tested this on a PC.</p>
<h4>How to trigger the bug</h4>
<p>The wrap: Leave the iPod in charging mode when playing music.</p>
<ol>
  <li>Connect the iPod</li>
  <li>Startup iTunes</li>
  <li>"Eject" iPod</li>
</ol>
<h4>Noise characteristics</h4>
<p>
  After triggering the bug, several background sounds can be heard. Most of them
  seem to be related to display changes.
</p>
<p>
  When using the wheel, a small click/beep can be heard whenever any piece of
  the screen changes. For example, when changing the volume slowly, it sounds
  like a screeching sound.
</p>
<p>
  Also, when the battery icon (in the top right corner or on the whole screen)
  changes, there is a clicking sound which can be really annoying when listening
  to music.
</p>
<p>Note that the "clicker" is off.</p>
