---
title: Digg 3.0 problems
categories:
  - bugs
  - Digg
  - usability
  - website
tags: []
author: Victor Engmark
---

<p>
  After using Digg for a few months, I'm hooked. So hooked, in fact, that the
  following problems have been ignored until Digg 3.0 made them almost
  insufferable. For the record, I exclusively read the
  <a href="https://www.digg.com/rss/index.xml"
    >"All Recently Popular" RSS feed</a
  >
  via Bloglines (<em>Update: sorry, the link is dead</em>) in Firefox 1.5.0.4 on
  Windows XP <abbr title="service pack">SP</abbr>2, on a dual 2.8
  <abbr title="gigahertz">GHz</abbr> PC with 512
  <abbr title="megabyte">MB</abbr> RAM, with a 10
  <abbr title="megabit per second">Mbps</abbr> line.
</p>

<h3>Load speed</h3>
<p>
  It often takes several seconds for a story to load. This is very annoying,
  since the browser locks up completely during that interval. Of course, all
  that JavaScript takes a while to process, but not everyone goes to Digg for
  the comments. It would be nice to be able to set up my Digg account (or have
  separate RSS feeds) to disable JavaScript.
</p>
<h3>Login</h3>
<p>
  This is the only feature of Digg I absolutely loathe. Especially the fact that
  I seem to have to login once for each section. Opening 30+ stories at the same
  time, it's hard to see which ones are not logged in. And if several tabs are
  logged out, all but the last story are "lost" - All of them will load the same
  page (the last one which was logged out) when I log in. Re-reading 150-200
  links is not my idea of fun...
</p>
<h3>The "popular" limit</h3>
<p>
  Digg has grown a lot, and the RSS feed of popular items fills up faster than a
  Coke bottle with mentos. Nowadays, it seems about 150-200 articles
  <em>per day</em> end up in this list, and the quality goes down as a smaller
  percentage of users Digg each "popular" article. The obvious solution is to
  make the "popular" limit higher or user controllable. Here are some options:
</p>
<ul>
  <li>Percentage of user count</li>
  <li>Percentage of active users, for some definition of "active"</li>
  <li>Some other function of [active] users</li>
  <li>User-controllable feed, using parameters to control any settings</li>
  <li>Separate "Very popular" list</li>
</ul>
<h3>No direct link</h3>
<p>
  For some stories, the comments are not interesting, and it would be preferable
  to go directly from the RSS feed to the page in question. It would therefore
  be nice if you could include the direct link in the feed (or a redirect),
  perhaps the same way
  <a href="https://reddit.com/.rss" title="Reddit RSS feed">Reddit</a> does.
  Incidentally, this would fix the login and load speed problems as well...
</p>
