---
title: L’esprit de l’aéroport
categories:
  - personal
  - politics
  - security
  - travel
  - USA
tags: []
author: Victor Engmark
---

<p>
  Ever wanted to register your protest against the baggage check insanities at
  the airport? You know, the one where blunt, sharp, wet and flammable things
  are taken away from every passenger, for ridiculous reasons*? Unless you're a
  high-ranking U.S. politician, there's not much you can do to influence
  directly, and using other transport is out of the question for most people.
</p>

<p>
  What any passenger can do is to frustrate the system as much as possible. You
  can fill a little water in a used bottle, bring it along in your hand luggage,
  and dump it at the security check. The bigger the better, for making the
  garbage bags fill up and showing your sympathy with other passengers. You can
  also bring a bottle smaller than the limit (WTF is up with that anyway? You
  can bring several deciliters in total, and I don't suppose a lot of explosives
  are needed to blow up a plane), go through the check, and then suggest sending
  it separately. Korean Air did that for me free of charge. Just make sure
  you're nice about it - It's not the airport employees' fault.
</p>
<p>Let's protest in a visible way.</p>
<p>
  * For those who want to rant about how it can prevented terrorist attacks,
  consider this:
</p>
<ul>
  <li>
    There are so many possible attack vectors, you couldn't possibly prevent all
    of them. If you disallowed hand luggage, stripped every passenger down and
    shackled them spread-eagle on the plane, a passenger could still have
    explosives or pathogens in his or her body.
  </li>
  <li>
    The arrangement obviously steals time. A little math will show you that if
    the extra procedure takes 1 minute per passenger (a very conservative
    estimate) then this stupidity steals 5232 years of passengers' lives
    annually (according to 2006 estimate (<em
      >Update: sorry, the link is dead</em
    >))!
  </li>
</ul>
