---
title: How to be (almost) paperless
categories:
  - hardware
  - software
  - work
tags: []
author: Victor Engmark
---

<p>
  The
  <a href="https://en.wikipedia.org/wiki/Paperless_office">paperless office</a>
  has become the poster child of a stagnated
  <abbr title="information technology">IT</abbr> revolution. I won't say
  "failed", because there are ways to get rid of almost all your paper, and gain
  a lot of efficiency at the same time. It works. Virtually the only time I
  print is when someone requires a written signature.
</p>

<p>
  I believe there are two big reasons why people print:
  <strong>Comfort </strong>(you'll be able to read it, bit by bit, anywhere and
  any time, without eye strain) and <strong>safety</strong> (it can't disappear
  as easily as a file). What follows are paperless solutions for these and other
  issues.
</p>
<h3>Read comfortably</h3>
<p>
  A good screen is paramount, but how to choose the best?
  <abbr title="liquid crystal display">LCD</abbr> (aka. flat /
  <abbr title="thin film transistor">TFT</abbr>) screens are generally much more
  easy on the eyes than <abbr title="cathode ray tube">CRT</abbr> screens. To
  get the proper "paper feeling", you should get a big screen with a high
  resolution (don't worry about the text being too small, that can be adjusted)
  and high contrast.
</p>
<p>
  Turn on proper anti-aliasing for a huge improvement in text readability. In
  Windows, go to
  <em>Start ? Control Panel ? Display ? Appearance ? Effects</em>, tick
  <em>Use the following method to smooth edges of screen fonts</em>, and select
  <em>ClearType</em>. You should also use the free ClearType Tuner (<em
    >Update: sorry, the link is dead</em
  >) to perfect the settings.
</p>
<h3>Read anywhere, any time</h3>
<p>
  For this, the best solution is a laptop or
  <abbr title="personal digital assistant">PDA</abbr> with a good screen. In
  addition to the attributes already mentioned, you should also make sure the
  screen has a high maximum brightness. This helps a lot in bright surroundings,
  such as daylight or a well lit office.
</p>
<h3>Take quick notes</h3>
<p>
  For quick, small notes, you can use
  <a href="https://a-note.sourceforge.net/">A Note</a>. For more organized
  notes, you can use GTDTiddlyWiki (<em>Update: sorry, the link is dead</em>).
  They are both free, open source, and easy to use.
</p>
<h3>Keep control of what to read</h3>
<p>
  By using an online bookmarking service, you can dispense with paper copies of
  things you need to read. Here's what works for me (using del.icio.us):
</p>
<ul>
  <li>Add the tag "toread" for anything that should be read.</li>
  <li>Change it to "read" when finished.</li>
  <li>To indicate that you broke off at chapter 4, just add the tag "at:4".</li>
  <li>
    You might also want to add priorities to the bookmarks, by adding tags like
    "important" or "pri:1".
  </li>
  <li>
    Install the Firefox extension (<em>Update: sorry, the link is dead</em>) -
    It's indispensable.
  </li>
</ul>
<h3>Add notes / corrections to documents</h3>
<p>
  It's easy to annotate paper documents. Just add a scribble in the margin, an
  arrow here, some underlining there, and so on. But this method has several
  flaws (in addition to wasting paper): Hand-written notes are often hard to
  read, they are not part of the document, they can't be distributed to several
  persons easily, and they are limited by the space available. Fortunately,
  modern word processors (like Word and
  <a href="https://www.openoffice.org/">OpenOffice.org</a>) support adding notes
  and corrections directly in the document. Just take a moment to learn how, and
  you'll save a lot of time in the long run.
</p>
<h3>Keep document versions separate</h3>
<p>
  The common method to do this is to have some manually updated version number
  in the document, and keeping printed versions of the document for each
  version. This is horribly inefficient, and can be completely avoided.
</p>
<p>
  First, you can insert a version number which <em>updates automatically</em>.
  In <strong>OpenOffice.org</strong>, press <kbd>CTRL-F2</kbd>, go to the
  <em>DocInformation</em> tab, and double-click <em>Revision number</em>. In
  <strong>Word</strong>, press <kbd>CTRL-F9</kbd>, select the field name
  <em>RevNum</em>, and press <em>OK</em>.
  <abbr title="as far as I know">AFAIK</abbr>, these numbers should increase
  every time you save the document.
</p>
<p>
  Second, word processors can show you the
  <em>difference between two files</em> if you keep them separate, by using a
  version control system (explained below) or separate file names. In
  <strong>OpenOffice.org</strong>, go to <em>Edit ? Compare Document</em>. In
  <strong>Word</strong>, go to <em>Tools ? Compare and Merge Documents</em>.
</p>
<p>
  Third, using a <strong>version control system</strong> complements the other
  techniques nicely, while being a great way to handle plain text files and
  code. By using version control for collaborative documents, you can avoid
  <em>concurrency issues</em>: You and someone else copy the same document to
  your hard disk, edit it, and then upload it. If you're unlucky, all the
  changes of one of you are overwritten by the other, without warning. Version
  control systems also keep track of who changed what, and why.
</p>
<p>
  The previous two points are also handled very nicely. Most version control
  systems support
  <em>keyword substitution</em>
  (like <code>$Version$</code>; <em>update: sorry, the link is dead</em>), and
  "diff" tools are plentiful and free (I recommend
  <a href="https://kdiff3.sourceforge.net/">KDiff3</a> or
  <a href="https://winmerge.org/">WinMerge</a>).
</p>
<p>
  Version control also enables you to keep separate copies of the same files on
  several machines without having to worry about files becoming obsolete. This
  is very useful for application settings which are not stored in the registry.
</p>
<p>
  If you work in IT, there's probably a
  <abbr title="Concurrent Versions System">CVS</abbr> or
  <abbr title="Subversion">SVN</abbr> server available. Setting up your own
  server can be a bit of work, but it's probably best for your personal
  documents. In any case, I recommend using
  <a href="http://www.tortoisecvs.org/" data-proofer-ignore>TortoiseCVS</a> or
  TortoiseSVN (both Windows only; <em>update: sorry, the link is dead</em>) to
  work with the repositories.
</p>
