---
title: ISO mount script for Nautilus & shell
categories:
  - open source
  - shell
  - software
  - Ubuntu
  - usability
tags:
  - CD
  - DVD
  - ISO
  - Linux
  - mount
  - Nautilus
  - opensource
  - script
  - UDF
author: Victor Engmark
---

<p>
  <strong>Final update</strong>: This stuff has moved to GitHub - There's better
  <a href="https://gitlab.com/engmark/mount-image">code and information</a>
  there.
</p>
