---
title: Moving from France to Switzerland
categories:
  - France
  - personal
  - Switzerland
tags:
  - howto
  - paperwork
  - relocation
author: Victor Engmark
---

<p>
  There's quite a bit of paperwork involved when moving from France to
  Switzerland. This is a rough account of what happened after the housing agent
  called to say we had been selected to get an apartment. It might be useful to
  anyone considering, or in the process of, moving to Switzerland from abroad.
  However, it's by no means a complete account, and you should always check with
  authorities or others who have done the same if in doubt.
</p>

<p>Initial paperwork:</p>
<ol>
  <li>
    Signed the <strong>rental agreement</strong> at the housing agent's
    premises.
  </li>
  <li>Wrote an inventory for the current apartment.</li>
  <li>
    Got a <strong>certificat de la perception</strong> from the French tax
    authorities.
  </li>
  <li>
    Got a <strong>certificat de changement de résidence</strong> from the
    nearest town hall.
  </li>
  <li>
    Set up a <strong>deposit account</strong> with three months' rent, and got a
    "<span lang="fr-FR">garantie bancaire</span>."
  </li>
  <li>
    Paid the <strong>first rent & charges</strong> and got the receipt for that.
  </li>
</ol>
<p>
  Later we brought the following documents to get the keys to the apartment:
</p>
<ul>
  <li>
    <span lang="fr-FR">Formulaire d'entrée</span>: The
    <strong>entry form</strong> for the apartment, with the instructions for
    moving in.
  </li>
  <li><strong>Garantie bancaire</strong></li>
  <li>
    Proof of personal liability insurance (<q>assurance responsabilité civile</q
    >) for each tenant.
  </li>
  <li>Proof of household insurance (<q>assurance menage</q>).</li>
  <li>
    <span lang="fr-FR"
      >Recepisse
      <abbr title="bulletin de versement avec numéro de référence">BVR</abbr>
      1<sup>er</sup> loyer & frais divers</span
    >: <strong>Receipt</strong> for the payment of the first rent and charges.
  </li>
  <li>
    <span lang="fr-FR"
      ><a href="https://fr.wikipedia.org/wiki/Contrat_de_bail"
        >Bail signé</a
      ></span
    >: Signed <strong>rental agreement</strong>.
  </li>
</ul>
<p>When moving, we had to present the following to the French customs:</p>
<ul>
  <li>
    The <strong>certificat de changement de résidence</strong> or
    <strong>certificat de la perception</strong>.
  </li>
  <li><strong>Proof of residence</strong> (rental agreement in our case).</li>
</ul>
<p>After moving in, we still had a bit of paperwork for the apartment:</p>
<ul>
  <li>Delivered the <strong>bon d'entrée</strong> to the janitor.</li>
  <li>
    Delivered our <strong>account details</strong> for possible reimbursements
    and a request for a <strong>plaque</strong> for the letter box and door to
    the housing agent.
  </li>
  <li>
    Paid the
    <strong>frais d'établissement du bail + frais de plaquettes</strong>.
  </li>
</ul>
<p>Other formalities:</p>
<ul>
  <li>Sent address changes <em>everywhere</em>.</li>
  <li>Got the mandatory health insurance.</li>
  <li>Called the electricity company to prepare for our arrival.</li>
  <li>Called a telecom company for telephone + Internet.</li>
</ul>
