---
title: How to teach users the command line
categories:
  - software
  - usability
tags:
  - CLI
  - command line
author: Victor Engmark
---

<p>
  Now that computers are firmly in the hands of casual users, is there some way
  to teach them how to use the command line without throwing them head first
  into grep? Of course, anyone with the time and inclination (and someone to
  contact when they get stuck) can learn to use the shell. Also, of course,
  there's an entire spectrum from those who would never touch a mouse to those
  who would never touch the keyboard if they could avoid it, so there must be
  room for shifting the bar to entry.
</p>

<p>
  A modest suggestion is to, when possible,
  <em>show users what is going on behind the scenes</em> to give them an idea of
  how tools interact and work. Some software like TortoiseSVN, Emacs and Hugin
  already do this, but those are mostly expert level tools, and I guess rarely
  used by anyone reluctant to push the mouse into the farther recesses of the
  desk. Also, they show a ton of output with not much information about what to
  do to reproduce it. Since the user is not typing the commands herself, she
  won't know which line in the output is the command and which are the output
  without a lot of work (or previous knowledge). So another very useful feature
  would be to emphasize the commands and tone down the output.
</p>
<p>What else could be done?</p>
