---
title: Overselling Linux
categories:
  - Linux
tags:
  - advocacy
  - bugs
  - drivers
  - hardware
author: Victor Engmark
---

<p>
  Shortly after starting college I heard about the wonderful strategy / ideology
  of open source (hey, I'm from the sticks, OK?). As I recall, I'd never seen a
  machine running <abbr title="GNU's Not Unix">GNU</abbr>/Linux before. Being an
  over-the-top Windows tweaker (Windows 98 broke completely about every two
  weeks), all that control sounded like gravy to a fat f***.
</p>

<p>
  So in 1999 I installed Linux for the first time;
  <a href="https://www.opensuse.org/">SuSE</a> 6.3 as I recall. The PC was brand
  spankin' new, and I had some trouble setting up the network card. After a few
  days of emails*, dependency hell, man pages and <kbd>make menuconfig</kbd>, I
  went back to Windows. A friendly voice in the back of my head told me to
  "Please try again later."
</p>
<p>
  My next attempt was with Mandrake (<em>Update: sorry, the link is dead</em>),
  which was said to be a lot more user friendly. I was told it would install all
  my hardware automatically. Sweet! Turns out that was the first time I heard
  this lie which some users perpetuate even today. I didn't have the stomach for
  another dead end, so it was gone after half a day of fiddling.
</p>
<p>
  At this point I'm a happy Linux user (desktops, server and laptop), only
  switching to Windows for games. It's a lot more productive than Windows, but
  remembering my own problems I'm careful when recommending it to others. Don't
  lie to newbies. They will not forget it.
</p>
<p>
  Corollary 1: Don't tell users that all hardware works on Linux (there
  <a
    href="https://www.linux-drivers.org/"
    title="Linux Hardware Compatibility Lists & Linux Drivers"
    >are</a
  >
  lists (<em>Update: sorry, the link is dead</em>), however (<em
    >Update: sorry, the link is dead</em
  >)), and then blame the vendor for not supplying an open spec. Users care
  about working hardware, not excuses (Hi, Apple! Wanna downgrade my iPod for me
  please?)<br />
  Corollary 2: Linux software has lots of bugs. Sure, high profile software like
  Apache, Emacs and Firefox are close to infallible (not counting third-party
  extensions), but there are still crashes, wildly incoherent interfaces (look
  at media players, for instance), outdated or missing documentation
  documentation (yay
  <a href="https://docs.freebsd.org/en/books/handbook/" title="FreeBSD Handbook"
    >FreeBSD</a
  >), interoperability issues (one format per program and few translators) and
  more.
</p>
<p>
  * At this point it would be extremely rude not to give eternal thanks to all
  those who have been willing to aid a stupid (and often angry) newbie to grasp
  Linux enough to finally switch to it for good a couple years ago. Thank you
  all!
</p>
