---
title: fgit - Run a Git command in several repositories
categories:
  - Git
  - shell
tags: []
author: Victor Engmark
---

<p>
  <a href="https://gitlab.com/engmark/fgit/-/blob/master/fgit.bash">fgit</a>
  enables you to run a Git command in several repositories with one command. For
  example:
</p>

<ul>
  <li>
    <code>fgit.sh pull</code> runs <code>git pull</code> in all the repositories
    under the current directory
  </li>
  <li>
    <code>fgit.sh pull -f ~/dev /foo</code> runs <code>git pull -f</code> in all
    the repositories under ~/dev and /foo
  </li>
</ul>
