---
title: Delicious daily backup
categories:
  - backup
  - Linux
  - shell
tags:
  - cron
  - Delicious
  - export
  - XML
author: Victor Engmark
---

<p>
  <a href="https://gitlab.com/engmark/export"
    >Delicious Bookmarks Export, The Next Generation</a
  >
  is now on <del>GitHub</del> <ins>GitLab</ins>! Please go there for any future
  updates (and more export/backup scripts).
</p>
