---
title: Delicious bookmarks search in the shell
categories:
  - fil.tero.us
  - shell
  - tagging
tags:
  - Delicious
  - open source
  - search
  - search engine
  - tags
author: Victor Engmark
---

<p>
  <del>fil.tero.us</del> is no more, long live filterous (<em
    >Update: Unfortunately both sites are long gone. Sorry for the
    inconvenience!</em
  >)! After much deliberation (and switching to a more productive platform &
  programming language), I decided to re-implement the Delicious personal
  bookmarks search page in Python for the *nix shell. The result is more
  security (I don't store your bookmarks for you), more uptime, and more
  opportunity for parsing with shell tools such as
  <a href="https://manpages.ubuntu.com/manpages/kinetic/en/man1/less.1.html"
    >less</a
  >,
  <a href="https://manpages.ubuntu.com/manpages/kinetic/en/man1/wc.1posix.html"
    >wc</a
  >,
  <a
    href="https://manpages.ubuntu.com/manpages/kinetic/en/man1/sort.1plan9.html"
    >sort</a
  >
  and
  <a
    href="https://manpages.ubuntu.com/manpages/kinetic/en/man1/grep.1posix.html"
    >grep</a
  >.
</p>

<ol>
  <li>
    Install / upgrade:
    <code
      >sudo apt-get install libxslt1-dev && sudo easy_install -U filterous</code
    >
  </li>
  <li>
    <a href="/delicious-daily-backup">Download your bookmarks</a>
  </li>
  <li>Usage: <code>filterous --help</code></li>
</ol>
