---
title: Query CERN LDAP from the shell
categories:
  - CERN
  - LDAP
  - shell
tags:
  - LDAP
author: Victor Engmark
---

<p>
  Here's one for the shell nuts:<br />

  <code>sudo $EDITOR /etc/ldap/ldap.conf</code><br />
  Add the following line:
</p>
<pre>TLS_REQCERT never</pre>
<p>
  <strong>Warning</strong>: This is not completely secure, since it ignores the
  certificate checks. There are instructions (<em
    >Update: sorry, the link is dead</em
  >), but it's not clear which of the two
  <a href="https://ca.cern.ch/ca/" title=""
    ><abbr title="certificate authority">CA</abbr> certificates</a
  >
  I should use, and whichever I try, I get no useful feedback from
  <code>ldapsearch</code> even with <code>-d 255</code>. If you manage to use
  the certificates properly, I'd be grateful if you'd let me know how.
</p>
<p>
  Now for the meat (replace <code>$(whoami)</code> with your CERN user name if
  it's not the same as your login):
</p>
<pre>
ldapsearch -v -H ldaps://ldap.cern.ch:636 -s sub -b O=CERN,C=CH -D cn=$(whoami),ou=users,o=cern,c=ch -x -W "(uid=$(whoami))"</pre
>
