---
title: Stuxnet motives
categories:
  - politics
  - virus
tags:
  - motive
  - nuclear plant
  - Stuxnet
  - worm
author: Victor Engmark
---

<p>
  Which motives could there be for the Stuxnet virus' behavior? This is more of
  a list to remember, in case more evidence of the behavior surfaces later. Note
  that there's no mention of which motives I think are likely - I don't know
  enough about Stuxnet or the people behind it for that.
</p>

<p>Direct motives (possible perpetrators):</p>
<ul>
  <li>
    Plain sabotage. They simply don't like the Iranian leadership (US, Israel,
    Iranian political group) the idea of an Iranian
    <a href="https://www.bbc.co.uk/news/world-middle-east-11414483"
      >nuclear plant</a
    >
    or
    <a href="https://frank.geekheim.de/?p=1189">nuclear enrichment program</a>
    (US, Israel, environmentalist group), that particular plant (local interest
    group), or the nuclear plant administrative or technological leadership
    (disgruntled workers).
  </li>
  <li>Creating a new Chernobyl (doomsday sects).</li>
</ul>
<p>Indirect motives:</p>
<ul>
  <li>
    Demonstrate the possibility of disabling a nuclear plant (black/grey hats,
    environmentalist group).
  </li>
  <li>
    Increase tension between Iran and its political opponents (Iran, US,
    Israel).
  </li>
  <li>
    Demonstrate skill, to get hired by a government agency (highly gifted person
    or small group).
  </li>
  <li>
    Discredit Siemens (<em>Update: sorry, the link is dead</em>) software
    (competitor companies like Realtek (<em>Update: sorry, the link is dead</em
    >)).
  </li>
  <li>
    Scare people / governments into supporting more strict Internet legislation
    (US, UK, Iran).
  </li>
  <li>
    Scare governments into investing more in "<a
      href="https://www.schneier.com/blog/archives/2010/07/the_threat_of_c.html"
      >cyberwar</a
    >" agencies.
  </li>
  <li>
    Harvesting of secret information (US, Israel, any nation that wants nukes).
  </li>
  <li>
    Other misdirection: The obvious political motive could be a cover for what
    is happening in Indonesia or elsewhere (<em
      >Update: sorry, the link is dead</em
    >).
  </li>
</ul>
