---
title: Library bookmark redesign
categories:
  - CERN
  - SVG
tags:
  - bookmark
  - graphics
  - image
  - library
  - Scalable Vector Graphics
author: Victor Engmark
---

<p>
  Here's a little hobby project that I've been working on at the
  <abbr title="European Organization for Nuclear Research">CERN</abbr>
  Central Library (<em>Update: sorry, the link is dead</em>). Instead of the
  familiar blue bookmark with only a title, the idea is to add anything that can
  be useful to library guests (and even strangers) that will fit inside the
  space of the bookmark. Hopefully it can give more people an idea of what we
  can do for them, what they can do on their own, how to find us and provide a
  simple way to send feedback.
</p>

<p>References:</p>
<ul>
  <li>
    <a href="/assets/documents/bookmark.pdf">PDF version</a> (single
    <a href="/assets/documents/recto.pdf">recto</a>/<a
      href="/assets/documents/verso.pdf"
      >verso</a
    >)
  </li>
  <li>
    <a href="https://gitlab.com/engmark/CERN-Central-Library-bookmark"
      >Git repository</a
    >
  </li>
  <li>
    <a href="https://twiki.cern.ch/twiki/bin/view/Library/Bookmark"
      >Old web page</a
    >
    (<abbr>CERN</abbr> only)
  </li>
</ul>
<p>Work overview (<em>italicized</em> items are unfinished or undecided):</p>
<ul>
  <li>
    Title
    <ul>
      <li>
        Replace "<abbr>CERN</abbr>" with the official logo? Doesn't look very
        good, and we wouldn't be respecting the 25% margin rule.
      </li>
    </ul>
  </li>
  <li>
    Logos:
    <ul>
      <li><abbr>CERN</abbr></li>
      <li><em>Library?</em></li>
    </ul>
  </li>
  <li>
    Due date, style:
    <ul>
      <li>
        <strong>Date stamp</strong>
        <ul>
          <li>Pros: Very fast to mark, usually good readability</li>
          <li>Cons: Need to get one :)</li>
        </ul>
      </li>
      <li>
        Circle month + date
        <ul>
          <li>Pros: Fast to mark, medium readability</li>
          <li>Cons: Computer science-y?</li>
        </ul>
      </li>
      <li>
        Text boxes
        <ul>
          <li>Pros: Easy to distinguish month from day</li>
          <li>Cons: Legibility depends on the writer, slow, visual noise</li>
        </ul>
      </li>
      <li>
        Open space
        <ul>
          <li>Pros: Clean design with open space</li>
          <li>
            Cons: Legibility depends on the writer, slow, could be too close to
            other text
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Location code 52 1-052</li>
  <li><a href="https://sis.web.cern.ch/">Main web page</a></li>
  <li>
    Email address
    <ul>
      <li>Desk</li>
      <li>
        <em><abbr title="interlibrary loan">ILL</abbr>?</em>
      </li>
    </ul>
  </li>
  <li>Phone</li>
  <li>Fax</li>
  <li>Opening hours</li>
  <li>Staffed hours</li>
  <li>
    Other links:
    <ul>
      <li>
        <a href="https://cds.cern.ch/"><abbr>CERN</abbr> Document Server</a>
      </li>
      <li>Loans (<em>Update: sorry, the link is dead</em>)</li>
      <li><a href="https://inspirehep.net/">INSPIRE</a></li>
    </ul>
  </li>
  <li>
    <abbr>CERN</abbr> map:
    <ul>
      <li>Buildings</li>
      <li>Main roads</li>
      <li>
        Landmarks
        <ul>
          <li>Logos where possible, text elsewhere</li>
          <li>Library</li>
          <li>Restaurants</li>
          <li>Reception</li>
          <li>Entrances</li>
          <li>P1</li>
          <li>
            <em><abbr title="A Toroidal LHC ApparatuS">ATLAS</abbr></em>
          </li>
          <li><em>Globe</em></li>
          <li>Hostels</li>
        </ul>
      </li>
      <li>Walking directions inside buildings</li>
      <li>North arrow</li>
    </ul>
  </li>
  <li>
    Library map:
    <ul>
      <li>Both floors</li>
      <li><em>Desk</em></li>
      <li><em>Shop</em></li>
      <li>
        <em>Computers</em>
        <ul>
          <li>
            <em>Mark <abbr title="operating system">OS</abbr> with logos</em>
          </li>
        </ul>
      </li>
      <li><em>News shelf</em></li>
      <li><em>Number ranges for shelves</em></li>
      <li><em>Outdoor area</em></li>
      <li>
        <em><abbr title="audio/video">A/V</abbr> equipment</em>
      </li>
      <li><em>Theses drawers</em></li>
      <li><em>Reference section</em></li>
      <li><em>Paper cutter</em></li>
      <li><em>Printers</em></li>
      <li><em>Copy machines</em></li>
      <li><em>Return / delivery box</em></li>
    </ul>
  </li>
  <li>
    Feedback form
    <ul>
      <li>Link to answers page (<em>Update: sorry, the link is dead</em>)</li>
    </ul>
  </li>
  <li>
    <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a> license
  </li>
</ul>
