---
title: Wordpress.com blog daily backup
categories:
  - backup
  - shell
  - WordPress
tags:
  - blog
  - cron
  - cron job
  - files
  - RSS
  - XML
author: Victor Engmark
---

<p>
  <a href="https://gitlab.com/engmark/export"
    >Wordpress.com Blog Export, The Next Generation</a
  >
  is now on GitHub! Please go there for any future updates (and more
  export/backup scripts).
</p>

<p>Based on the following documents:</p>
<ul>
  <li>
    Backup Wordpress.com Blogs (<em>Update: sorry, the link is dead</em>) by
    dandavis.
  </li>
  <li>
    <a
      href="https://andrewharvey4.wordpress.com/2009/12/07/saving-the-wordpress-com-export-file-and-the-linked-media-files-and-wgets-strictness/"
      >Saving the WordPress.com Export File and The Linked Media Files (and
      wget’s strictness)</a
    >
    by Andrew Harvey
  </li>
  <li>
    <a
      href="https://itpoetry.wordpress.com/2008/02/07/bash-script-to-export-and-backup-some-data/"
      >Bash script to export and backup online data</a
    >
  </li>
</ul>
