---
title: Google Reader feeds daily backup
categories:
  - backup
  - shell
tags:
  - export
  - Google Reader
  - Linux
  - OPML
  - XML
author: Victor Engmark
---

<p>
  <a href="https://gitlab.com/engmark/export"
    >Google Reader Export, The Next Generation</a
  >
  is now on GitHub! Please go there for any future updates (and more
  export/backup scripts).
</p>

<p>
  Source:
  <a
    href="https://blog.parwy.com/2009/03/backing-up-google-reader-subscriptions.html"
    >Backing up Google Reader subscriptions</a
  >
  by Parwy.
</p>
