---
title: Ubuntu phone fundraiser
categories:
  - Ubuntu
tags:
  - Android
  - Linux
  - phone
author: Victor Engmark
---

<p>
  Canonical has started a
  <a href="https://www.indiegogo.com/projects/ubuntu-edge"
    >fundraiser to develop an Ubuntu/Android phone</a
  >. There's a 600 USD early bird tier for <em>one day</em> to get the phone
  itself, and afterwards it's a massive 830 USD.
</p>

<p>
  As someone who was extatic at the Ubuntu progress in 2007 through 2009, but
  foaming at the mouth at their massive "not invented here" syndrome ever since,
  I don't think I'll be pledging anything for this. For example, the dual boot
  feature. They say they already have the Ubuntu desktop integration working on
  Android, so you'll be able to use it immediately. Great, let's do that. "Then
  shortly after launch we’ll push out a free software update that adds this
  desktop integration to Ubuntu mobile as well." So we'll have a functioning
  Android phone with Ubuntu desktop integration from the get go, and then we'll
  have to start using Ubuntu natively instead of Android later? You want users
  to learn to use <strong>two</strong> GUIs which do the same thing to use one
  phone? (Actually three, unless the Ubuntu desktop works exactly like native
  Ubuntu, and assuming anyone who buys this is already familiar with Ubuntu.)
  Now that's usability fail. How about <em>either</em> Android
  <em>or</em> Ubuntu? Sounds more like someone thinks Ubuntu isn't quite ready
  for handhelds yet, and they want the users to beta test before reinventing the
  wheel once again.
</p>
