---
title: 15 ways to attract blog readers
categories:
  - blogging
tags:
  - blog
  - content
  - meta
  - style
  - traffic
author: Victor Engmark
excerpt_separator: <!--more-->
---

<!--more-->
<ol>
  <li>
    Mention
    <abbr title="Any word containing either 'blog' or 'vlog'"
      ><code>*[bv]log*</code></abbr
    >
    as often as possible. Blogging begets
    <a
      href="http://thebestpageintheuniverse.net/c.cgi?u=banish"
      title=" If these words were people, I would embrace their genocide."
      data-proofer-ignore
      >blogging</a
    >.
  </li>
  <li>
    Go meta. Fans of any media are metasauruses (The Hero's Journey (<em
      >Update: sorry, the link is dead</em
    >),
    <a
      href="https://blog.codinghorror.com/i-stopped-reading-your-blog-years-ago/"
      >I Stopped Reading Your Blog Years Ago</a
    >).
  </li>
  <li>
    Use technical jargon once in a while to keep the ignorant on their toes (and
    to make quacks more sure to not be opposed).
  </li>
  <li>
    Allow comments. People want to be heard, even if they have nothing to say.
  </li>
  <li>
    Allow spam comments to seep in after a while. That way people can feel
    useful for pointing it out to you.
  </li>
  <li>
    If you don't want comments, but don't want to disable them (which would
    ensure detractors starting their own blog and possibly drawing traffic away
    from yours), make sure your speling'n'grammar are impeccable, then sprinkle
    liberally with forms like "coördinate" and "raison d'être". Most people
    realize such authors are not susceptible to reason, and the rest of the
    commenters should be easy to deal with.
  </li>
  <li>
    Include at least one link to something great but irrelevant, such as
    <a href="https://stackoverflow.com/">Stack Overflow</a> or
    <a href="https://www.openstreetmap.org/">OpenStreetMap</a>. A positive first
    impression is the best way to get the readers to fight for you, no matter
    how wrong you are.
  </li>
  <li>
    Talk about the zeitgeist, but don't ever mention the word (unless you're
    going for double meta bonus). That shows you're an Enthusiast in the Know.
  </li>
  <li>
    Ask people nicely to be nice in the comments. They won't be, but you'll get
    more replies to vitriolic garbage from people who feel they are defending
    the peace-loving blogger.
  </li>
  <li>
    Be as damning as you can about as many people as you can possibly include,
    but make sure it at least pretends to be
    <a
      href="http://www.paulgraham.com/disagree.html"
      title="How to Disagree"
      data-proofer-ignore
      >DH3</a
    >
    or higher. If you're writing for a particularly stupid audience you can go
    for DH2 ("style over content" people) or even DH1 (conspiracy theorists).
  </li>
  <li>
    Mention which music you listened to while writing. Your fans will look it
    up, self-appointed aficionados will criticize it, and people with too much
    time will point out how irrelevant it is.
  </li>
  <li>
    <a
      href="https://blog.codinghorror.com/listen-to-your-community-but-dont-let-them-tell-you-what-to-do/"
      title="Listen to Your Community, But Don't Let Them Tell You What to Do"
      >Retract</a
    >
    something you wrote. You will be seen as either a flip-flopper to be flamed
    into oblivion or as a mature person willing to challenge their own opinions.
    Everybody wins.
  </li>
  <li>
    If someone posts a crushing counter-argument, crush theirs by acknowledging
    the argument and concluding with "but the point still stands."
  </li>
  <li>
    Discuss the possibility of a rumor in post A, then take it as fact in post B
    by referencing post A as source. Instant credibility.
  </li>
  <li>
    If you want to back up your statements with external references, use the
    most vague URL you can get away with - Ideally to the home page of the
    organization or author. If forced to use a direct link, make sure not to
    include <code>#anchors</code> and to paraphrase instead of quoting. That
    way, nobody except the really diligent will realize that your interpretation
    was "liberal".
  </li>
  <li>
    Write lists on the form "The &lt;number&gt; best &lt;plural noun&gt; [of
    &lt;period&gt;]" or "&lt;number&gt; ways to &lt;verb&gt; [&lt;plural
    noun&gt;]". If your list is less than ten items, pad it until it's at least
    15. In fact, pad it anyway (but don't make it obvious). And make sure at
    least one of your points is as long as the rest of the list put together, to
    break up the monotony. Ideally it should combine at least two points. If
    anyone accuses you of misusing lists (since you're effectively compressing
    multiple paragraphs into an artificially cramped place), you get to be smug
    because of not stooping to the level of the "style over content" people.
    Just don't combine with point 10. Lists should be a positive place!
  </li>
</ol>
