---
title: Precycling phone directories, Oxford style
categories:
  - precycling
tags:
  - paper
  - phone directories
author: Victor Engmark
---

<p>
  Quick guide to reducing paper waste by
  <a href="https://en.wikipedia.org/wiki/Precycling">precycling</a> phone
  directories in Oxford, <abbr title="United Kingdom">UK</abbr>:
</p>

<blockquote>
  <p>
    To: info@<a href="https://www.thomsonlocal.com/" title="Thomson Local"
      >thomsonlocal.com</a
    ><br />
    Subject: Subscription cancellation
  </p>
  <p>Good day</p>
  <p>
    Please stop sending unsolicited mail, including the "Thomson Local"
    directory, to &lt;address withheld&gt;. Thank you!
  </p>
  <p>
    Best regards<br />
    &lt;name withheld&gt;
  </p>
</blockquote>
<hr />
<blockquote>
  <p>
    To: service@<a href="https://www.yell.com/" title="Yell">yellgroup.com</a
    ><br />
    Subject: Subscription cancellation
  </p>
  <p>Good day</p>
  <p>
    Please stop sending unsolicited mail, including the "Yellow Pages" and
    "Packed full of useful stuff" directories, to &lt;address withheld&gt;.
    Thank you!
  </p>
  <p>
    Best regards<br />
    &lt;name withheld&gt;
  </p>
</blockquote>
<hr />
<blockquote>
  <p>
    To: directory.products@<a
      href="https://www.thephonebook.bt.com/"
      title="The British Telecom Phone Book"
      >bt.com</a
    ><br />
    Subject: Subscription cancellation
  </p>
  <p>Good day</p>
  <p>
    Please stop sending unsolicited mail, including the "The Phone Book"
    directory, to &lt;address withheld&gt;. Thank you!
  </p>
  <p>
    Best regards<br />
    &lt;name withheld&gt;
  </p>
</blockquote>
<p>Now let's see the result…</p>
<p><strong>Reply from Yell/Hibu</strong></p>
<blockquote>
  <p>
    From: Customer.Service.Team@hibu.com<br />
    Dear &lt;name withheld&gt;,
  </p>
  <p>Thank you for your email.</p>
  <p>I am sorry to hear of the problems you have encountered.</p>
  <p>
    Your email has now been passed to the relevant team to stop the directory
    and they will be in contact with you regarding this matter.
  </p>
  <p>
    <strong
      >Inorder to assist you regarding the unsolicited mails please provide us
      with your account number or business name, address along with the postal
      code and telephone number.</strong
    >
  </p>
  <p>
    Should you have any further queries please do not hesitate to call our
    Customer Service team on 0800 555 444.
  </p>
</blockquote>
<p>
  My emphasis. Thanks, but I'd rather not give any more information to an
  advertising company who have already spammed me. That was email lesson #1 way
  back in the 20th century. You know perfectly well how to stop spamming based
  on the address <em>which I already sent you</em>.
</p>
