---
title: Stop asking your students to write command line UIs
categories:
  - programming
  - shell
  - software
tags:
  - command line
  - GUI
  - teaching
author: Victor Engmark
---

<p>How often have you used a UI like this?</p>

<pre><code>
/==========================\
| 1. List files            |
| 2. Show the current time |
| 3. Show Top              |
| 4. Quit                  |
\==========================/

Enter your selection:
</code></pre>
<p>
  <em>Even if you are a banker, travel agent or a medical doctor</em> I would
  argue <strong>never.</strong> These groups are unfortunate enough to still
  have to use arcane command line interfaces to do unspeakably complex things
  like recording last week's hours or reserve a ticket to your home town. But
  none of these systems are razor thin wrappers for simple shell tools - they
  are that way because they are really hard to replace. And more importantly,
  <em
    >no employer is ever going to ask anyone to make a menu based command line
    UI for their shell script.</em
  >
  It just doesn't happen anymore. It is not a valuable skill. ASCII art is
  recreation, not work. So the time spent fiddling with <code>echo</code> and
  <code>read</code> is wasted, and could be put to better use.
</p>
<p>There are many generally applicable skills you can teach shell newbies:</p>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/Unix_philosophy"
      >The Unix philosophy</a
    >: writing programs that do one thing, that work with other programs, and
    that handle text streams. An hour of cobbling together a pipeline of
    <code>grep</code>, <code>cut</code> and a light sprinkling of
    <code>sed</code> can save days or weeks of data processing which might take
    a week to write in Python or six months in a spreadsheet.
  </li>
  <li>
    On the flip side, they should know the
    <a href="https://mywiki.wooledge.org/BashWeaknesses"
      >limitations of the shell</a
    >. Why <code>while read</code> is several orders of magnitude slower than
    other language equivalents. Why writing secure shell scripts is basically
    impossible. Or why big shell scripts are a maintenance nightmare compared to
    other languages.
  </li>
  <li>
    Which tools are available to do what. There are <em>so many</em> useful
    tools you could probably spend a week full time just touching briefly on
    each of them. Check out for example
    <a href="https://busybox.net">BusyBox</a> for a set of
    <a href="https://busybox.net/screenshot.html">generally available tools</a>.
  </li>
  <li>
    <a>Where to look for answers</a> and
    <a href="https://stackoverflow.com/help/how-to-ask"
      >how to ask good questions</a
    >.
  </li>
</ul>
